.nav_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}
.nav_link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
}
.nav_item{
    list-style: none;
}